<div class="container my-5 px-5">
    <div class="card text-black">
        <div class="card-header alert alert-danger">
            Are you sure you want to delete this employee..?
        </div>
        <div class="card-body">
            <label for="">First Name : {{employee.firstName}}</label>
            <br>
            <label for="">Last Name : {{employee.lastName}}</label>
            <br>
            <label for="">Email : {{employee.email}}</label>
            <br>
            <label for="">Phone No. : {{employee.phoneNo}}</label>
            <br>
            <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-1">
                    <a type="button" routerLink="../../Home" class="btn btn-outline-secondary">Cancel</a>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-outline-danger" (click)="deleteEmployee()">Delete</button>
                </div>
            </div>

        </div>
    </div>
</div>