<div class="container my-5">
    <h1 class="mb-3">Employees-DataBase</h1>
    <table class="table" *ngIf="employees && employees.length >0">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>&nbsp; &nbsp; &nbsp; &nbsp; Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.firstName}}</td>
                <td> {{employee.lastName}} </td>
                <td> {{employee.email}} </td>
                <td>{{employee.phoneNo}}</td>
                <td><a routerLink="../EditEmployee/{{employee.id}}" class="btn btn-outline-info">Edit</a>
                    &nbsp;
                    <a routerLink="../DeleteEmployee/{{employee.id}}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!employees || employees .length <= 0">No Employee found</p>
</div>